.columns {
  @media screen and (min-width: 750px) {
    & {
      display: grid;
      grid-gap: 30px;
    }
  }

  &.columns_1-1 {
    grid-template-columns: 1fr 1fr;
  }

  &.columns_1-2 {
    grid-template-columns: 220px 1fr;
  }

}
